.heightFull {
  height: 100%;
}

.widthFull {
  width: 100%;
}

.block {
  display: block;
}

.inlineBlock {
  display: inline-block;
}

.relative {
  position: 'relative';
}

.whiteSpaceNormal {
  white-space: 'normal';
}
